.title {
  background: rgb(216, 105, 105);
  align-self: flex-start;
  color: white;
  font: var(--headline5);
  padding-block-start: 4px;
  padding-block-end: 4px;
  padding-inline-end: 8px;
  padding-inline-start: 8px;
  text-decoration: none;
  margin: 20px;
  /* margin-inline-start: 4px; */
  box-shadow: -4px 4px 0 white;
}